<i class="close icon"></i>
<div class="header">{{ problem }} - {{ problem.problem.categories_name }}, {{ problem.points }}</div>
<div class="content">
    <div class="description">
        <p>{{ problem.problem.description }}</p>
        <h4 class="ui header">First Blood: {{ problem.first_blood }}</h4>
        <div>Solved {{ problem.solved_count }} times.</div>
    </div>
</div>
<div class="actions" id="action_field">
    {% if not authed %}
        <form class="ui form" id="auth_form" method="post" action="/problem/auth">
            <div class="inline fields">
                <div class="field">
                    <input type="hidden" name="prob_id" value="{{ problem.pk }}">
                </div>
                <div class="field">
                    <input class="ui input" id="auth_input_field" type="text" name="auth_key" placeholder="Input Flag">
                </div>
                <button type="submit" class="ui primary right labeled icon button">
                    <i class="unlock icon"></i>
                    Auth
                </button>
            </div>
        </form>
    {% else %}
        <p>Already Solved!</p>
    {% endif %}
    <div class="ui button">Close</div>
</div>

{% if not already_authed %}
    <script>
        $(document).ready(function () {
            var _auth_form = $('#auth_form');
            var _auth_input_field = $('#auth_input_field');
            var _action_field = $('#action_field');
            _auth_form.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: _auth_form.attr('action'),
                    type: _auth_form.attr('method'),
                    data: _auth_form.serialize(),
                    dataType: 'json',
                    beforeSend: function() {
                        _auth_input_field.removeClass('error');
                    },
                    success: function(data) {
                        if (data['result'] === true) {
                            _action_field.html('' +
                                '<p>Accepted!</p>' +
                                '<div class="ui positive button">OK</div>' +
                                '');
                        } else {
                            _auth_input_field.addClass('error');
                            _auth_input_field.val('');
                        }
                    },
                    error: function() {
                        _action_field.html('' +
                            '<p>Something is wrong with server</p>' +
                            '<div class="ui negative button">Close</div>' +
                            '');
                    }
                });
            });
        });
    </script>
{% endif %}
