<i class="close icon"></i>
<div class="ui header">{{ info.problem_instance }} - <small>{{ info.problem_instance.problem.categories_title }}, {{ info.effective_points }} pts.</small></div>
<div class="content">
    <div class="description">
        <p>{{ info.problem_instance.problem.description | safe }}</p>
        {% for attachment in info.problem_instance.problem.problem_attachments.all %}
            <a class="ui button" href="{% url 'problem:download' pk=attachment.pk %}">
                <i class="download icon"></i>
                {{ attachment }}
            </a>
        {% endfor %}
        {% if info.first_solver %}
            <h4 class="ui header">First Blood: {{ info.first_solver }}</h4>
            <div>Solved by {{ info.solver_count }} user(s).</div>
        {% else %}
            <h4 class="ui header">Take the first blood!</h4>
        {% endif %}
    </div>
</div>
<div class="actions" id="action_field">
    {% if not info.solved %}
        <form class="ui form" id="auth_form" method="post" action="{% url 'problem:auth' pk=info.problem_instance.pk %}">{% csrf_token %}
            <div class="field" id="auth_field">
                <input class="ui input" id="auth_input" type="text" name="auth_key" placeholder="Input Flag">
            </div>
            {% if info.problem_instance.problem_list.allow_question %}
                <div id="ask_button" class="ui teal left floated right labeled icon button">
                    <i class="question icon"></i>
                    Question
                </div>
            {% endif %}
            <button type="submit" class="ui primary right labeled icon button">
                <i class="unlock icon"></i>
                Auth
            </button>
            <div class="ui cancel button">Close</div>
        </form>
    {% else %}
        <p>Already Solved!</p>
        <div class="ui cancel button">Close</div>
    {% endif %}
</div>

{% if not info.solved %}
    <script>
        $(document).ready(function () {
            let _auth_form = $('#auth_form');
            let _auth_field = $('#auth_field');
            let _auth_input = $('#auth_input');
            let _action_field = $('#action_field');
            let _question_modal = $('#question_modal');

            _auth_form.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: _auth_form.attr('action'),
                    type: _auth_form.attr('method'),
                    data: _auth_form.serialize(),
                    dataType: 'json',
                    beforeSend: function() {
                        _auth_field.removeClass('error');
                    },
                    success: function(data) {
                        if (data['result'] === true) {
                            _action_field.html('' +
                                '<p>Accepted!</p>' +
                                '<div class="ui positive button">OK</div>' +
                                '');
                        } else {
                            _auth_field.addClass('error');
                            _auth_input.val('NO~!');
                        }
                    },
                    error: function() {
                        _action_field.html('' +
                            '<p>Something is wrong with server</p>' +
                            '<div class="ui negative button">Close</div>' +
                            '');
                    }
                });
            });

            _question_modal.html(
                `<i class="close icon"></i>
                <div class="ui header">Question about {{ info.problem_instance }} - <small>{{ info.problem_instance.problem.categories_title }}, {{ info.effective_points }} pts.</small></div>
                <div class="content">
                    <div class="ui form field">
                        <textarea name="question" id="question_text"></textarea>
                    </div>
                </div>
                <div class="actions" id="question_actions">
                    <button id="question_submit" class="ui red right labeled icon button">
                        <i class="envelope icon"></i>
                        Submit
                    </button>
                    <div class="ui cancel button">Close</div>
                </div>`
            );

            $("#question_submit").click( function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'problem:question' pk=info.problem_instance.pk %}",
                    type: "POST",
                    data: $("#question_text").serialize(),
                    dataType: 'json',
                    success: function(data) {
                        if (data['ok'] === true) {
                            $("#question_actions").html('' +
                                '<p>Submitted!</p>' +
                                '<div class="ui positive button">OK</div>' +
                                '');
                        } else {
                            $("#question_actions").html('' +
                            '<p>No empty questions</p>' +
                            '<div class="ui negative button">Close</div>' +
                            '');
                        }
                    },
                    error: function() {
                        $("#question_actions").html('' +
                            '<p>Something is wrong with server</p>' +
                            '<div class="ui negative button">Close</div>' +
                            '');
                    }
                });
            });

            _question_modal.modal('attach events', '#ask_button')
        });
    </script>
{% endif %}
