<i class="close icon"></i>
<div class="header">{{ problem_instance }} - {{ problem_instance.problem.categories_title }}, {{ points }}</div>
<div class="content">
    <div class="description">
        <p>{{ problem_instance.problem.description }}</p>
        {% for attachment in problem_instance.problem.attachments.all %}
            <a class="ui button" href="download?f={{ attachment.pk }}">
                <i class="download icon"></i>
                {{ attachment }}
            </a>
        {% endfor %}
        {% if first_solved_log %}
            <h4 class="ui header">First Blood: {{ first_solved_log.user }}</h4>
            <div>Solved by {{ solved_count }} user(s).</div>
        {% else %}
            <h4 class="ui header">Take the first blood!</h4>
        {% endif %}
    </div>
</div>
<div class="actions" id="action_field">
    {% if not authed %}
        <form class="ui form" id="auth_form" method="post" action="auth">{% csrf_token %}
            <div class="field">
                <input type="hidden" name="prob_id" value="{{ problem_instance.pk }}">
            </div>
            <div class="field" id="auth_field">
                <input class="ui input" id="auth_input" type="text" name="auth_key" placeholder="Input Flag">
            </div>
            <button type="submit" class="ui primary right labeled icon button">
                <i class="unlock icon"></i>
                Auth
            </button>
            <div class="ui cancel button">Close</div>
        </form>
    {% else %}
        <p>Already Solved!</p>
        <div class="ui cancel button">Close</div>
    {% endif %}
</div>

{% if not already_authed %}
    <script>
        $(document).ready(function () {
            var _auth_form = $('#auth_form');
            var _auth_field = $('#auth_field');
            var _auth_input = $('#auth_input');
            var _action_field = $('#action_field');

            _auth_form.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: _auth_form.attr('action'),
                    type: _auth_form.attr('method'),
                    data: _auth_form.serialize(),
                    dataType: 'json',
                    beforeSend: function() {
                        _auth_field.removeClass('error');
                    },
                    success: function(data) {
                        if (data['result'] === true) {
                            _action_field.html('' +
                                '<p>Accepted!</p>' +
                                '<div class="ui positive button">OK</div>' +
                                '');
                        } else {
                            _auth_field.addClass('error');
                            _auth_input.val('NO~!');
                        }
                    },
                    error: function() {
                        _action_field.html('' +
                            '<p>Something is wrong with server</p>' +
                            '<div class="ui negative button">Close</div>' +
                            '');
                    }
                });
            });
        });
    </script>
{% endif %}
