{% extends 'menu.html' %}

{% block title %}Problem{% endblock %}
{% block problem_active %}active{% endblock %}

{% block content %}
    <form class="ui form" method="get" action="/problem">
        <div class="inline fields">
            <div class="field">
                Search by
                <div class="ui inline dropdown">
                    <input name="search_by" value="{{ search_by }}" type="hidden">
                    <div class="text">{{ search_by }}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">Select search field</div>
                        <div class="item" data-text="list_title">List Title</div>
                        <div class="item" data-text="session">Session</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui search">
                    <div class="ui icon input">
                        <input name="q" class="prompt" placeholder="Search..." value="{{ q }}" type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </form>
    {% if not queried_problem_lists %}
        <h2 class="header">No active session or queried problem list exists.</h2>
    {% endif %}
    {% for problem_list, problems in queried_problem_lists %}
        <h2 class="header">{{ problem_list.session.title }}: {{ problem_list.title }}</h2>
        <div class="ui stackable four column grid">
            {% for problem, points, authed, first_blood in problems %}
                {% if not problem.hidden or is_staff %}
                    <a class="center aligned column" href="#" onclick="request_problem({{ problem.pk }})">
                        <div class="ui {% if problem.hidden %}grey inverted{% elif authed %}green inverted{% endif %} fluid segment">
                            <div class="ui left corner orange label"
                                 {% if not first_blood %}style="visibility:hidden;"{% endif %}>
                                <i class="trophy icon"></i>
                            </div>
                            <h3 class="ui header">
                                {{ problem }}
                                <div class="ui sub header">{{ points }} pts.</div>
                            </h3>
                            <div class="ui blue label">{{ problem.problem.categories_title }}</div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="ui modal" id="modal_content"></div>

    <script>
        var request_problem = function () {}
        $(document).ready(function () {
            var $_ui_dropdown = $('.ui.dropdown');
            var $_ui_search = $('.ui.search');
            var $_ui_modal = $('.ui.modal');

            var session_list = [
                {% for session in sessions %}
                    { title: '{{ session.title }}', href: '/problem?search_by=session&q={{ session.title | urlencode }}' },
                {% endfor %}
            ];
            var list_title_list = [
                {% for problem_list in problem_lists %}
                    { title: '{{ problem_list.title }}', href: '/problem?search_by=list_title&q={{ problem_list.title | urlencode }}' },
                {% endfor %}
            ];
            $_ui_search
                .search({
                    onSelect: function (result) {
                        window.location.href = result.href;
                    }
                });
            $_ui_dropdown
                .dropdown({
                    onChange: function (val) {
                        switch (val) {
                            case 'list_title':
                                $_ui_search.search('setting', 'source', list_title_list);
                                break;
                            case 'session':
                                $_ui_search.search('setting', 'source', session_list);
                                break;
                        }
                        $_ui_search.search('clear cache');
                    }
                });
            switch ($_ui_dropdown.dropdown('get value')) {
                case 'list_title':
                    $_ui_search.search('setting', 'source', list_title_list);
                    break;
                case 'session':
                    $_ui_search.search('setting', 'source', session_list);
                    break;
            }
            $_ui_modal.modal({
                onApprove: function () {
                    location.reload();
                }
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            request_problem = function (prob_id) {
                $_ui_modal.html('<div class="ui text loader active">Loading</div>');
                $_ui_modal.modal('refresh');
                $_ui_modal.modal('show');
                $.ajax({
                    url: 'get',
                    type: 'GET',
                    data: { prob_id: prob_id },
                    dataType: 'html',
                    success: function(data) {
                        $_ui_modal.html(data);
                        $_ui_modal.modal('refresh');
                    },
                    error: function() {
                        $_ui_modal.html('' +
                            '<div class="ui negative message">' +
                            '<i class="close icon"></i>' +
                            '<div class="header">' +
                            'Error' +
                            '</div>' +
                            '<p>Failed to retreive problem</p>' +
                            '</div>' +
                            '');
                    }
                });
            }
        });
    </script>
{% endblock %}
