{% extends 'problem_menu.html' %}

{% block title %}Problem Lists{% endblock %}
{% block problem_list_active %}active{% endblock %}

{% block problem_content %}
    <form class="ui form" method="get" action="/problem">
        <div class="inline fields">
            <div class="field">
                Search by
                <div class="ui inline dropdown">
                    <input name="search_by" value="{{ search_by }}" type="hidden">
                    <div class="text">{{ search_by }}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">Select search field</div>
                        <div class="item" data-text="list_title">List Title</div>
                        <div class="item" data-text="session">Session</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui search">
                    <div class="ui icon input">
                        <input name="q" class="prompt" placeholder="Search..." value="{{ q }}" type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </form>
    {% if not queried_problem_lists %}
        <h2 class="ui header">No active session or queried problem list exists.</h2>
    {% endif %}
    {% for problem_list, problem_infos, notification, total_score in queried_problem_lists %}
        <div class="ui top attached clearing segment">
            <h2 class="ui left floated header">
                {{ problem_list.session.title }}: {{ problem_list.title }}
                <div class="sub header">Score: {{ total_score }}</div>
            </h2>
            <a class="ui right floated button" href="{% url 'problem:rank' pk=problem_list.pk %}">View Rank</a>
            <div>
                {% if notification %}
                    <div class="ui message">
                        <p>Notification : </p>
                        <ul class="ui list">
                            <li>{{ notification }}</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui stackable four column grid">
                {% for info in problem_infos %}
                    {% if not info.problem_instance.hidden or info.user.is_staff %}
                        <a class="center aligned column" href="#" onclick="request_problem('{% url 'problem:get' pk=info.problem_instance.pk %}'); return false;">
                            <div class="ui {% if info.problem_instance.hidden %}grey inverted{% elif info.solved %}green inverted{% endif %} fluid segment">
                                <div class="ui left corner orange label"
                                     {% if not info.display_first_solve %}style="visibility:hidden;"{% endif %}>
                                    <i class="trophy icon"></i>
                                </div>
                                <h3 class="ui header">
                                    {{ info.problem_instance }}
                                    <div class="sub header">{{ info.effective_points }} pts.</div>
                                </h3>
                                <div class="ui blue label">{{ info.problem_instance.problem.categories_title }}</div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="ui modal" id="problem_modal"></div>
    <div class="ui modal" id="question_modal"></div>

    <script>
        let request_problem;
        $(document).ready(function () {
            let $_ui_dropdown = $('.ui.dropdown');
            let $_ui_search = $('.ui.search');
            let $_ui_modal = $('.ui.modal');
            let _problem_modal = $('#problem_modal');

            let session_list = [
                {% for session in sessions %}
                    { title: '{{ session.title }}', href: '{% url 'problem:list' %}?search_by=session&q={{ session.title | urlencode }}' },
                {% endfor %}
            ];
            let list_title_list = [
                {% for problem_list in problem_lists %}
                    { title: '{{ problem_list.title }}', href: '{% url 'problem:list' %}?search_by=list_title&q={{ problem_list.title | urlencode }}' },
                {% endfor %}
            ];
            $_ui_search
                .search({
                    onSelect: function (result) {
                        window.location.href = result.href;
                    }
                });
            $_ui_dropdown
                .dropdown({
                    onChange: function (val) {
                        switch (val) {
                            case 'list_title':
                                $_ui_search.search('setting', 'source', list_title_list);
                                break;
                            case 'session':
                                $_ui_search.search('setting', 'source', session_list);
                                break;
                        }
                        $_ui_search.search('clear cache');
                    }
                });
            switch ($_ui_dropdown.dropdown('get value')) {
                case 'list_title':
                    $_ui_search.search('setting', 'source', list_title_list);
                    break;
                case 'session':
                    $_ui_search.search('setting', 'source', session_list);
                    break;
            }
            $_ui_modal.modal({
                allowMultiple: false,
                onApprove: function () {
                    location.reload();
                }
            });

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    let cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            request_problem = function (prob_url) {
                _problem_modal.html('<div class="ui text loader active">Loading</div>');
                _problem_modal.modal('refresh');
                _problem_modal.modal('show');
                $.ajax({
                    url: prob_url,
                    type: 'GET',
                    dataType: 'html',
                    success: function(data) {
                        _problem_modal.html(data);
                        _problem_modal.modal('refresh');
                    },
                    error: function() {
                        _problem_modal.html('' +
                            '<div class="ui negative message">' +
                            '<i class="close icon"></i>' +
                            '<div class="header">' +
                            'Error' +
                            '</div>' +
                            '<p>Failed to retreive problem</p>' +
                            '</div>' +
                            '');
                    }
                });
            }
        });
    </script>
{% endblock %}
