{% extends 'problem_menu.html' %}

{% block title %}Ranking{% endblock %}
{% block problem_rank_active %}active{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
            integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"
            integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo="
            crossorigin="anonymous"></script>
{% endblock %}

{% block problem_content %}
    {% if not rank_info %}
        <h2 class="ui header">No active session or queried problem list exists.</h2>
    {% endif %}
    {% for problem_list, top_ranking in rank_info %}
        <h2 class="ui top attached header">{{ problem_list.session }}: {{ problem_list }}</h2>
        <div class="ui bottom attached segment">
            <canvas id="chart_{{ problem_list.pk }}"></canvas>
            <table class="ui celled padded table">
                <thead>
                <tr><th class="right aligned">#</th>
                    <th>User</th>
                    <th>Score</th>
                    <th>Last Auth</th>
                </tr></thead>
                <tbody>
                {% for user, score, last_auth in top_ranking %}
                    <tr>
                        <td><h4 class="ui right aligned header">{{ forloop.counter }}</h4></td>
                        <td class="single line">{{ user }}</td>
                        <td>{{ score }}</td>
                        <td>{{ last_auth }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <script>
        $(document).ready(function () {
            function getNewColor(index) {
                var chartColors = {
                    red: 'rgb(255, 99, 132)',
                    orange: 'rgb(255, 159, 64)',
                    yellow: 'rgb(255, 205, 86)',
                    green: 'rgb(75, 192, 192)',
                    blue: 'rgb(54, 162, 235)',
                    purple: 'rgb(153, 102, 255)',
                    grey: 'rgb(201, 203, 207)'
                };
                var colorNames = Object.keys(chartColors);
                var colorName = colorNames[index % colorNames.length];
                return chartColors[colorName];
            }
            {% for problem_list, chart_data in chart_info %}
                var ctx_{{ problem_list.id }} = $("#chart_{{ problem_list.id }}");
                var chart_{{ problem_list.id }} = new Chart(ctx_{{ problem_list.id }}, {
                    type: 'line',
                    options: {
                        responsive: true,
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    tooltipFormat: 'll HH:mm'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Score'
                                },
                                ticks: {
                                    suggestedMin: 0
                                }
                            }]
                        }
                    },
                    data: {
                        datasets: [
                            {% for user, chart_points in chart_data %}
                                {
                                    label: '{{ user }}',
                                    backgroundColor: getNewColor({{ forloop.counter0 }}),
                                    borderColor: getNewColor({{ forloop.counter0 }}),
                                    fill: false,
                                    data: JSON.parse('{{ chart_points | escapejs }}')
                                },
                            {% endfor %}
                        ]
                    }
                });
            {% endfor %}
        });
    </script>
{% endblock %}
