{% extends 'problem_menu.html' %}

{% block title %}Ranking{% endblock %}
{% block problem_rank_active %}active{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"
            integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg="
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"
            integrity="sha256-SiHXR50l06UwJvHhFY4e5vzwq75vEHH+8fFNpkXePr0="
            crossorigin="anonymous"></script>
{% endblock %}

{% block problem_content %}
    {% for problem_list in problem_lists %}
    {% endfor %}
{% endblock %}
