{% extends 'menu.html' %}

{% block title %}Seminar{% endblock %}
{% block seminar_active %}active{% endblock %}

{% block content %}
    {% if not seminar_dict %}
        <h2 class="first">No active or queried session exists.</h2>
    {% endif %}
    {% for session, seminars in seminar_dict.items %}
        <h2 class="first">{{ session.title }}</h2>
        <div class="ui cards">
            {% for seminar in seminars %}
                <div class="card">
                    <div class="content">
                        <div class="header">{{ seminar.title }}</div>
                        <div class="meta">{{ seminar.categories_title }} - {{ seminar.author }} - {{ seminar.date }}</div>
                        <div class="description">{{ seminar.description }}</div>
                    </div>
                    {% for attachment in seminar.attachments.all %}
                        <a class="ui bottom attached button" href="/download?filename={{ "seminar_attachments/" | urlencode }}{{ attachment | urlencode }}">
                            <i class="download icon"></i>
                            {{ attachment }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

<!-- Sort cards by session -->
