{% extends 'menu.html' %}

{% block title %}Seminar{% endblock %}
{% block seminar_active %}active{% endblock %}

{% block content %}
    {% for session in sessions %}
    <div class="ui cards">
        {% for seminar in filter(lambda x -> x.session == session, seminars) %}
        <div class="card">
            <div class="content">
                <div class="header">{{ seminar.title }}</div>
                <div class="meta">{% for category in seminar.categories.all %}{{ category }}&nbsp;{% endfor %} - {{ seminar.author }} - {{ seminar.date }}</div>
                <div class="description">{{ seminar.description }}</div>
            </div>
            {% for attachment in seminar.attachments.all %}
            <a href="{{ attachment.url }}">
                <div class="ui bottom attached button">
                    <i class="download icon"/>
                    Download
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}

<!-- Sort cards by session -->
