{% extends 'menu.html' %}

{% block title %}Seminar{% endblock %}
{% block seminar_active %}active{% endblock %}

{% block content %}
    <div class="ui cards">
        {% for seminar in seminars %}
        <div class="card">
            <div class="content">
                <div class="header">{{ seminar.title }}</div>
                <div class="meta">{% for category in seminar.categories.all %}{{ category }}&nbsp;{% endfor %} - {{ seminar.author }} - {{ seminar.date }}</div>
                <div class="description">{{ seminar.description }}</div>
            </div>
            {% for attachment in seminar.attachments.all %}
            <a class="ui bottom attached button" href="{{ attachment.url }}">
                <i class="download icon"/>
                Download
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- Sort cards by session -->
