{% extends 'menu.html' %}

{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}
<div class="ui vertical center aligned segment" id="home_banner">
    <div class="ui text container">
      <h1 class="ui dividing header">
        Welcome to PLUS! 
      </h1>
      <h2>Study hard to be a good HACKER</h2>
    </div>
</div>
<div class="ui two column very relaxed grid" style="position:relative; margin:0; padding:0;">
        <div class="column">
            <div class="ui segment">
                <h2 class="ui dividing header">Notifications</h2>
                {% for noti in notifications %}
                    <div class="ui segment">
                        <h3 class="ui dividing header">{{ noti.title }}</h3>
                        <p>{{ noti.description }}</p>
                        <p style="opacity:0.5">{{ noti.date }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui vertical divider" style="position:relative; width:1; "></div>
        <div class="column">
            
        </div>
</div>
<script>
    $(document).ready(function () {





    });
</script>
{% endblock %}