{% extends 'menu.html' %}

{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}
<div class="ui vertical center aligned segment" id="home_banner">
    <div class="ui text container">
      <h1 class="ui dividing header">
        PLUS STUDY SITE
      </h1>
    </div>
</div>
<div class="ui vertical center aligned segment">
    <h3 class="item">
        id  :  {{ user.username }} &emsp;
        Total Score  :  {{ user_total_score }} &emsp;
        Last Solved : {{ user_last_solved.datetime }}
    </h3>
</div>
<div class="ui two column relaxed grid" style="position:relative; margin:0; padding:0;">
    <div class="column">
        <h2 class="ui dividing header">Notifications</h2>
        {% if notifications %}
            {% for noti in notifications %}
                {% if noti.isActive %}
                    <div class="ui segment">
                        <h3 class="ui dividing header">{{ noti.title }}</h3>
                        <p>{{ noti.description | linebreaksbr }}</p>
                        <p style="opacity:0.5">{{ noti.datetime }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>There is no notification</p>
        {% endif %}

    </div>
    <div class="ui vertical divider" style="position:relative; width:1; "></div>
    <div class="column">
        <h2 class="ui dividing header">Recent Solves</h2>
        {% if recent_solves %}
            {% for recent_solve in recent_solves %}
                <div class="ui segment">
                    <h3 class="ui dividing header">
                        <span style="color:palevioletred">{{ recent_solve.user }}</span>
                         solved <span style="color:dodgerblue">{{ recent_solve.problem_instance.problem.title }}</span>
                        <small style="float:right;color:gray">
                            {{ recent_solve.problem_instance.problem_list.session.title }} : {{ recent_solve.problem_instance.problem_list.title }}
                        </small>
                    </h3>
                    {{ recent_solve.datetime }}
                    {% if recent_solve in first_solves %}
                        <div class="ui red label" style="float:right">FIRST BLOOD</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
