{% extends 'base.html' %}

{% block body %}
    <div class="ui huge fixed menu">
        <div class="ui container">
            <a class="header item">PLUS Study</a>
            <a class="item active" href="/">Home</a>
            <a class="item" href="/seminar">Seminar</a>
            <div class="item right">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="ui primary basic secondary button">
                        Logout
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="ui primary button">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ui main container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}