{% extends 'menu.html' %}

{% block title %}Seminar{% endblock %}
{% block seminar_active %}active{% endblock %}

{% block content %}
    <h2 class="ui top attached header">세미나 관리</h2>
    <div class="ui bottom attached segment">
        {% if form.errors %}
            <div class="ui negative message">
                <div class="header">세미나 수정 중 오류가 발생했습니다.</div>
                <p>다시 시도해주세요</p>
            </div>
        {% endif %}
        <form class="ui form"
                {% if edit_mode %}
                    action="{% url 'seminar:edit' pk=seminar_id %}" method="post"
                {% else %}
                    action="{% url 'seminar:create' %}" method="post"
                {% endif %}>
            {% csrf_token %}
            <div class="field">
                <label for="seminar_title">Title</label>
                <input id="seminar_title" name="title" type="text" placeholder="Title">
            </div>
            <div class="field">
                <label for="seminar_categories">Categories</label>
                <select id="seminar_categories" name="categories" class="ui dropdown" multiple="">
                    <option selected disabled>카테고리 선택</option>
                    {% for category in categories %}
                        <option value="{{ category.pk }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label for="seminar_session">Session</label>
                <select id="seminar_session" name="session" class="ui dropdown">
                    <option selected disabled>세션 선택</option>
                    {% for session in sessions %}
                        <option value="{{ session.pk }}">{{ session.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label for="seminar_description">Description</label>
                <textarea id="seminar_description" name="description" placeholder="Description">
            </div>
            <div class="fields">
                <div class="field">
                    <label for="attachment_1" class="ui icon button">
                        <i class="file icon"></i>
                        Open File</label>
                    <input type="file" id="attachment_1" style="display:none">
                </div>
                <div class="field">
                    <label for="attachment_2" class="ui icon button">
                        <i class="file icon"></i>
                        Open File</label>
                    <input type="file" id="attachment_2" style="display:none">
                </div>
                <div class="field">
                    <label for="attachment_3" class="ui icon button">
                        <i class="file icon"></i>
                        Open File</label>
                    <input type="file" id="attachment_3" style="display:none">
                </div>
            </div>

            <div class="ui fluid large submit button">제출</div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            var $_ui_dropdown = $('.ui.dropdown');
            $_ui_dropdown
                .dropdown();
        });
    </script>
{% endblock %}
