{% extends 'menu.html' %}

{% block title %}Seminar{% endblock %}
{% block seminar_active %}active{% endblock %}

{% block content %}
    <form class="ui form" method="get" action="/seminar">
        <div class="inline fields">
            <div class="field">
                Search by
                <div class="ui inline dropdown">
                    <input name="search_by" value="{{ search_by }}" type="hidden">
                    <div class="text">{{ search_by }}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="header">Select search field</div>
                        <div class="item" data-text="seminar">Seminar</div>
                        <div class="item" data-text="session">Session</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui search">
                    <div class="ui icon input">
                        <input name="q" class="prompt" placeholder="Search..." value="{{ q }}" type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </form>
    <div class="ui fluid multiple search normal selection dropdown">
        <input type="hidden" name="country">
        <i class="dropdown icon"></i>
        <input class="search" autocomplete="off" tabindex="0"><span class="sizer"></span><div class="default text">Select Categories</div>
        <div class="menu" tabindex="-1">
        {% for category in categories %}
        <div class="item" data-value="{{ category }}">{{ category }}</div>
        {% endfor %}
        </div>
    </div> 
    {% if not seminar_dict %}
        <h2 class="first">No active or queried session exists.</h2>
    {% endif %}
    {% for session, seminars in seminar_dict.items %}
        <h2 class="ui top attached header" data-session="{{ session.title }}">{{ session.title }}</h2>
        <div class="ui bottom attached segment" data-session="{{ session.title }}">
            <div class="ui stackable three column grid" >
                {% for seminar in seminars %}
                    <div class="column" data-isActive="1">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">{{ seminar.title }}</div>
                                <div class="meta">{{ seminar.categories_title }} - {{ seminar.author }} - {{ seminar.date }}</div>
                                <div class="description">{{ seminar.description }}</div>
                            </div>
                            {% for attachment in seminar.seminar_attachments.all %}
                                <a class="ui bottom attached button" href="{% url 'seminar:download' pk=attachment.pk %}">
                                    <i class="download icon"></i>
                                    {{ attachment }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <script>
        $(document).ready(function () {
            var $_ui_dropdown = $('.ui.inline.dropdown');
            var $_ui_search = $('.ui.search');
            var $_ui_sort = $('.ui.fluid.dropdown')

            var session_list = [
                {% for session in sessions %}
                    { title: '{{ session.title }}', href: '{% url 'seminar:list' %}?search_by=session&q={{ session.title | urlencode }}' },
                {% endfor %}
            ];
            var seminar_list = [
                {% for seminar in seminars %}
                    { title: '{{ seminar.title }}', href: '{% url 'seminar:list' %}?search_by=seminar&q={{ seminar.title | urlencode }}' },
                {% endfor %}
            ];
            $_ui_sort
                .dropdown({
                    onChange: function(val) {
                        var category_arry = val.split(',');
                        category_arry = category_arry.sort();
                        var delete_list = $(".meta");
                        if(category_arry=="")
                        {
                            $(".ui.bottom").show();
                            $(".ui.top").show();
                            $(".column").show();
                        }
                        else
                        {
                            $(".ui.bottom").show();
                            $(".ui.top").show();
                            $(".column").show(); 
                            delete_list.each(function(){
                                var flag=0;
                                var tmp = $(this).text();
                                tmp = tmp.replace(/ /gi,"");
                                tmp = tmp.split('-');
                                tmp2 = tmp[0];
                                tmp = tmp2.split(',');
                                for(let i=0; i<category_arry.length; i++)
                                {
                                    for(let j=0; j<tmp.length; j++)
                                    {
                                        if(category_arry[i]==tmp[j])
                                            flag++;
                                    }
                                }
                                if(flag >= 1)
                                    $(this).parents("div[data-isActive='1']").show();
                                else if(flag==0)
                                    $(this).parents("div[data-isActive='1']").hide();

                                var is_visible=0;
                                $(this).parents(".ui.stackable").children().each(function(){
                                    if($(this).is(":visible"))
                                        is_visible=1;
                                });
                                var session_name = "";
                                session_name = $(this).parents(".ui.bottom").attr("data-session");
                                if(is_visible==0)
                                {
                                    $(this).parents(".ui.bottom").hide();
                                    $("h2[data-session='"+session_name+"']").hide();
                                }
                            });
                        }
                    }
                });
            $_ui_search
                .search({
                    onSelect: function (result, response) {
                        window.location.href = result.href;
                    }
                });
            $_ui_dropdown
                .dropdown({
                    onChange: function (val) {
                        switch (val) {
                            case 'seminar':
                                $_ui_search.search('setting', 'source', seminar_list);
                                break;
                            case 'session':
                                $_ui_search.search('setting', 'source', session_list);
                                break;
                        }
                        $_ui_search.search('clear cache');
                    }
                });
            switch ($_ui_dropdown.dropdown('get value')) {
                case 'seminar':
                    $_ui_search.search('setting', 'source', seminar_list);
                    break;
                case 'session':
                    $_ui_search.search('setting', 'source', session_list);
                    break;
            }
        });
    </script>
{% endblock %}

<!-- Sort cards by session -->
