{% extends 'shop_menu.html' %}

{% block title %}Inventory{% endblock %}
{% block shop_inven_active %}active{% endblock %}

{% block shop_content %}
    {% for log in purchase_logs %}
        {% if log.succeed %}
            <div class="ui icon floating mini message">
                {% if log.retrieved %}
                    <button class="ui basic icon button">
                        <i class="grey envelope open outline icon"></i>
                    </button>
                {% else %}
                    <button class="ui basic icon button">
                        <i class="teal envelope outline icon"></i>
                    </button>
                {% endif %}
                    <div class="content">
                        <div class="header">{{ log.item.title }}</div>
                        <p>{{ log.shop.problem_list.session.title }}: {{ log.shop.problem_list.title }}</p>
                        <p>{{ log.purchase_time }}</p>
                    </div>
            </div>
        {% endif %}
    {% endfor %}
    
{% endblock %}