{% extends 'shop_menu.html' %}

{% block title %}Inventory{% endblock %}
{% block shop_inven_active %}active{% endblock %}

{% block shop_content %}
    <div class="ui divided list">
        {% for log in purchase_logs %}
            {% if log.succeed %}
                <div class="item">
                    {% if log.retrieved %}
                        <i class="large red heart middle aligned icon"></i>
                    {% else %}
                        <i class="large times middle aligned icon"></i>
                    {% endif %}
                        <div class="middle aligned content">
                            <a class="header">{{ log.item.title }}</a>
                            <div class="meta">
                                <a class="ui small green label">
                                    <i class="dollar sign icon"></i>
                                    {{ log.item.price }}
                                </a>
                                <a class="ui small red label">
                                    {{ log.item.chance }}
                                    <i class="percent icon"></i>
                                </a>
                                <small>{{ log.shop.problem_list.session.title }}: {{ log.shop.problem_list.title }}</small>
                                <button class="ui small right floated orange button">Check</button>
                            </div>
                        </div>
                        
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}