{% extends 'shop_menu.html' %}

{% block title %}Inventory{% endblock %}
{% block shop_inven_active %}active{% endblock %}

{% block shop_content %}
    <div class="ui two column very relaxed grid" style="position:relative; margin:0; padding:0;">
        <div class="column">
            <h2 class="ui dividing header">Purchased</h2>
            {% for log in purchase_logs %}
                {% if log.succeed %}
                    {% if log.retrieved %}
                    <div class="ui icon floating mini message">
                        <form class="ui form" action="{% url 'shop:retrieve' pk=log.pk %}" method="post">
                            {% csrf_token %}
                            <button class="ui basic icon massive button disabled" type="submit">
                                <i class="grey envelope open outline icon"></i>
                            </button>
                        </form>
                    {% else %}
                    <div class="ui icon floating mini message teal">
                        <form class="ui form" action="{% url 'shop:retrieve' pk=log.pk %}" method="post">
                            {% csrf_token %}
                            <button class="ui basic icon massive button disabled" type="submit">
                                <i class="teal envelope outline icon"></i>
                            </button>
                        </form>
                    {% endif %}
                            <div class="content">
                                <div class="header">{{ log.item.title }}</div>
                                <p>{{ log.shop.problem_list.session.title }}: {{ log.shop.problem_list.title }}</p>
                                <p>{{ log.purchase_time }}</p>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="ui vertical divider" style="position:relative; width:1; "></div>
        <div class="column">
            <h2 class="ui dividing header">Sold</h2>
            {% for log in sell_logs %}
                {% if log.succeed %}
                    {% if log.retrieved %}
                    <div class="ui icon floating mini message">
                        <form class="ui form" action="{% url 'shop:retrieve' pk=log.pk %}" method="post">
                            {% csrf_token %}
                            <button class="ui basic icon massive button disabled" type="submit">
                                <i class="grey envelope open outline icon"></i>
                            </button>
                        </form>
                    {% else %}
                    <div class="ui icon floating mini message teal">
                        <form class="ui form" action="{% url 'shop:retrieve' pk=log.pk %}" method="post">
                            {% csrf_token %}
                            <button class="ui basic icon massive button" type="submit">
                                <i class="teal envelope outline icon"></i>
                            </button>
                        </form>
                    {% endif %}
                            <div class="content">
                                <div class="header">{{ log.item.title }}</div>
                                <p>{{ log.user }} - {{ log.shop.problem_list.session.title }}: {{ log.shop.problem_list.title }}</p>
                                <p>{{ log.purchase_time }}</p>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    

    <div class="ui mini basic modal" id="retrieve_modal"></div>
    
    <script>
        $(document).ready(function () {
            let _retrieve_form = $(".ui.form")
            let _retrieve_modal = $("#retrieve_modal")

            

            _retrieve_form.submit(function (e) {
                e.preventDefault();
                let t = jQuery(this)

                _retrieve_modal.modal({
                    allowMultiple: false,
                    onApprove: function () {
                        $.ajax({
                            url: t.attr('action'),
                            type: t.attr('method'),
                            data: t.serialize(),
                            dataType: 'json',
                            success: function(data) {
                                if (data['result'] === true) {
                                    location.reload();
                                } else {
                                    alert(data['reason']);
                                }
                            },
                            error: function() {
                                alert('Something is wrong with server');
                            }
                        });
                        
                    }
                });

                _retrieve_modal.html(`
                    <div class="ui icon header">
                        <i class="red hand paper outline icon"></i>
                        <h1>WARNING</h1>
                        <p>Have you awarded the prize?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        No
                        </div>
                        <div class="ui green ok inverted button">
                        <i class="checkmark icon"></i>
                        Yes
                        </div>
                    </div>
                `)


                _retrieve_modal.modal('show')


                
            })
        })
    </script>
{% endblock %}