{% extends 'shop_menu.html' %}

{% block title %}Products{% endblock %}
{% block shop_product_active %}active{% endblock %}

{% block shop_content %}
    {% for info in shop_infos %}
        <div class="ui horizontal divider"></div>
        <div class="ui top attached clearing segment">
            <h2 class="ui left floated header">
                {{ info.shop.title }}: {{ info.shop.problem_list }}
                <div class="sub header">Your Money: {{ info.user_money }}</div>
            </h2>
        </div>
        <div class="ui bottom attached segment">
            {% for item in info.shop_items %}
                <div class="ui segment">
                    {{ item }}
                    {{ item.image }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}