{% extends 'shop_menu.html' %}

{% block title %}Products{% endblock %}
{% block shop_product_active %}active{% endblock %}

{% block shop_content %}
    {% for info in shop_infos %}
        <div class="ui horizontal divider"></div>
        <div class="ui top attached clearing segment">
            <h2 class="ui left floated header">
                {{ info.shop.problem_list.session.title }}: {{ info.shop.problem_list.title }}
                <div class="sub header">Money: {{ info.user_money }}</div>
            </h2>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui divided items">
            {% for item in info.shop_items %}
                <div class="item">
                    <div class="image">
                        <img src="{{ item.image.path }}">
                    </div>
                    <div class="middle aligned content">
                        <a class="header">{{ item.title }}</a>
                        <div class="meta">
                            <a class="ui large green label">
                                <i class="dollar sign icon"></i>
                                {{ item.price }}
                            </a>
                            <a class="ui large red label">
                                {{ item.chance }}
                                <i class="percent icon"></i>
                            </a>
                            <form class="ui form" action="{% url 'shop:buy' pk=info.shop.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="item" value="{{ item.pk }}">
                                <button class="ui right floated primary button" type="submit">
                                    Buy
                                    <i class="right chevron icon"></i>
                                </button>
                            </form>
                        </div>
                        <div class="description">
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="extra">
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}

    <script>
        $(document).ready(function () {
            let _buy_form = $(".ui.form")

            _buy_form.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: jQuery(this).attr('action'),
                    type: jQuery(this).attr('method'),
                    data: jQuery(this).serialize(),
                    dataType: 'json',
                    beforeSend: function() {
                        jQuery(this).parent().next().next().html('')
                    },
                    success: function(data) {
                        if (data['result'] === true) {
                            jQuery(this).parent().next().next().html('Success!');
                        } else {
                            jQuery(this).parent().next().next().html('Error!')
                        }
                    },
                    error: function() {
                        jQuery(this).parent().next().next().html('Something is wrong with server');
                    }
                });
            });
        })
    </script>
{% endblock %}